
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Urbanist', sans-serif;
  list-style: none;
}
.chatApp{
  height: 100vh;
  display: flex;
  align-items: center;
 background:linear-gradient(to bottom right,rgb(255, 255, 255),rgb(180, 233, 180));
  justify-content: center;

}

.noimg{
  position: absolute;
  left: 40px;
  top: 30px;
  width: 180px;
  border-radius: 10%;
}
.img{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 500px;
  opacity:0.05;
  /* border-radius: 10%; */
}
.join{
  background-color: rgb(226, 225, 225);
  box-shadow: 2px 5px 20px rgb(137, 137, 137);
  display:flex;
  flex-direction: column;
  padding: 20px 10px;
  position: relative;
  >h2{
    color:rgb(77, 76, 76);
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 10px;
  }
  >.jn{
    min-width: 250px;
    max-width: 300px;
    /* background-color: red; */
    margin-bottom: 10px;
    height: 40px;
    border-radius: 2px;
    outline: none;
    padding-left: 8px;
  }
  >.joinbtn{
    background-color: rgb(11, 207, 11);
    height: 50px;
    font-size: 15px;
  }
}

.enter{
  background-color: rgba(100, 212, 204, 0.233);
  min-width: 200px;
  max-width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 5px;
  color: white;
  border-radius: 5px;

}
.footer{
  position: absolute;
  bottom: 0;
  padding: 10px;
  font-size: 14px;
  background-color: black;
  left: 0;
  right: 0;
  text-align: center;
  color: white;
  align-items: center;
  justify-content: center;
  >p{
    >span{
      color: rgb(0, 255, 0);
    }
  }
}
.join::after{
  content: '';
  width: 100px;
  height: 100px;
  background-color: rgba(0, 255, 0, 0.449);
  position: absolute;
  border-radius: 50%;
  left: -90px;
  bottom: -60px;
  z-index: 2;
}
.join::before{
  content: '';
  width: 130px;
  height: 130px;
  background-color: rgba(0, 255, 0, 0.47);
  position: absolute;
  border-radius: 50%;
  right: -100px;
  top: -60px;
  z-index: 2;
}
@media(max-width:500px){

  .join{
    display:flex;
    flex-direction: column;
    position: relative;
    >h2{
      color:rgb(77, 76, 76);
      text-transform: uppercase;
      text-align: center;
      padding-bottom: 10px;
    }
    >.jn{
      min-width: 180px;
      margin-bottom: 10px;
      height: 40px;
      border-radius: 2px;
      outline: none;
      padding-left: 8px;
    }
    >.joinbtn{
      background-color: rgb(11, 207, 11);
      height: 30px;
      font-size: 13px;
    }
  }
  .join::after{
    content: '';
    width: 100px;
    height: 100px;
    background-color: rgba(0, 255, 0, 0.449);
    position: absolute;
    border-radius: 50%;
    left: -50px;
    bottom: -80px;z-index: 0;
  }
  .join::before{
    content: '';
    width: 100px;
    height: 100px;
    background-color: rgba(0, 255, 0, 0.47);
    position: absolute;
    border-radius: 50%;
    right: -40px;
    top: -80px;
    z-index: 2;
  }
  .footer{
    position: absolute;
    bottom: 0;
    padding: 10px;
    font-size: 10px;
   
  }
  .img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 200px;
    opacity:0.05;
    /* border-radius: 10%; */
  }
}