*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.chatbox{
  /* height: 50vh; */
  background-color: aliceblue;
  width: 100%;
}
.chatbody{
  background-color: rgb(23, 42, 49);
 position: absolute;
 top:28px;
 right: 0;
 left: 0;
 bottom: 55px;
 padding: 10px 10px;
  /* overflow-y: scroll; */
}
.chatheader{
  background-color: rgb(92, 97, 92);
  padding: 5px 0;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

}
.app{
  /* background-color: red; */
 
}
.username{
  /* background-color: green; */
  font-size: 13px;
  display: flex;
  align-items: center;
}
.username:after{
  content: '';
  width: 7px;
  height: 7px;
  background-color: rgb(22, 220, 45);
  border-radius: 50%;
  margin-top: -5px;
  margin-left: 4px;
 
}
.chatfooter{
  background-color: rgba(21, 33, 22, 0.768);
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  >.txt{
    background-color: white;
    height: 35px;
    padding: 10px 0 0 10px;
    border-radius: 5px;
    
  }
  >.txt::placeholder{
    display: flex;

  }

 
}
.chatfooter{
  background-color: rgb(16, 85, 23);
}
.ipbox{
    background-color: white;
  display: flex;
  align-items: end;
  justify-content: center;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid green;
  >button{
    height: 35px;
    color: green;
    border: none;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    >span{
      transform: rotate(-10deg);
    }
  }
  >.txt::placeholder{
    display: flex;
    color: rgb(167, 167, 167);
    padding: 5px;

  }
}
.chatflex{
  border: none;
  display: flex;
  flex-direction: column;
  min-width: 50px;
  max-width: 250px;
  border-radius: 5px;
}
.mychat{
  /* background-color: pink; */
  padding: 0 8px;
  display: flex;
  justify-content: start;

}
.left{
  display: flex;
  margin-bottom: 5px;
  padding: 5px;
  justify-content: end;
  
}
.txt{
  border: 1px solid white;
  outline: none;

}
.right{
  display: flex;
  margin-bottom: 5px;
  padding: 5px;
  justify-content: start;

 
}
.otherchat{
  /* background-color: rgb(92, 237, 102); */
  display: flex;
  justify-content: start;
  padding: 0 8px;
}
.name{
  display: flex;
  padding:2px 0 0 5px;
  font-size: 12px;
  font-style: italic;
  color: rgb(174, 174, 182);
  /* border-bottom: 1px solid rgb(139, 134, 134); */
}
.time{
  display: flex;
  justify-content: flex-end;
  padding-right: 5px;
  font-size: 8px;
  color: rgb(204, 199, 199);
}
.scrollbottom{
  /* background-color: green; */
  width: 100%;
  height: 100%;
  overflow-y: scroll;

}
.you{
  background-color: rgb(7, 120, 18);
  color: white;
  transition: 1s;
}
.notyou{
  background-color: rgb(72, 74, 72);
  color: white;
}